
.body {
  font-size: 25px;

}

.navbar-light .navbar-brand {
  color: mediumaquamarine;
}

.navbar {
  width: 100%;
  padding: 5px;
}

.navbar-brand {
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
  margin-left: 5%;
}

.navbar-collapse {
  position: absolute;
  right: 5%;
  font-size: small;
}

.nav-item {
  font-weight: bold;
}

.img {
  box-shadow:10px 10px 5px mediumaquamarine;
}

.content {
  width: 90%;
  margin: 20px auto;
  padding: 1em;
}
  
.buttons {
  margin-bottom: .5em;
}

.text-left {
  text-align: left;
  font-weight: bolder;
  color: #F3969A;
}

.text-center {
  font-weight: bolder;
  color: #F3969A;
}

p:not(.intro) {
  text-align: justify;
  color: slategray;
}

.thumbnail {
  width:50%;
}

.main-image {      
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    float: left;
}

.col-md-8 {
  background-color:  white;
}

.col-sm-12,.col-md-4 {
  background-color: white;
}

div.col-sm-12.col-md-12 div.col-lg-6.col-sm-12 img {
  width: 100%;
}

.imagetiles {
  background-color: mediumaquamarine;
}

div.imagetiles div.col-lg-6.col-sm-12 img {
  width: 100%;
}

div.col-sm-12.col-md-12 p {
  color: black;
  font-size: medium;
}

.panel-body:hover {
  border-color: white;
  border size: 10px;
}

@include media-breakpoint-down(md) {
  .col-md-8 {
    display: block;
  }
}