
.body {
  font-size: 30px;

}

.navbar-light .navbar-brand {
  color: mediumaquamarine;
}

.navbar {
  width: 100%;
  padding: 5px;
  max-height: 50px;
}

.navigation .navbar-brand {
  font-size: 25px;
  font-weight: bolder;
  padding: inherit;
  margin-left: 5%;
}

.nav-item {
  font-weight: bold;
}

.content {
  width: 90%;
  margin: 20px auto;
  padding: 1em;
}
  
.buttons {
  margin-bottom: .5em;
}

.text-left {
  text-align: left;
  font-weight: bolder;
  color: #F3969A;
}

.text-center {
  font-weight: bolder;
  color: #F3969A;
}

p:not(.intro) {
  text-align: justify;
  color: slategray;
}

.thumbnail {
  width:50%;
}

.main-image {      
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    float: left;
}

@media(max-width: 992px) {
  .navbar-expand-lg {
  background-color: #000000;
  }
  .navbar {
    max-height: none;
    padding: inherit;
  }
  .navbar div {
    margin: inherit;
  }
  .navbar-brand {
    padding: 10px;
  }
}
@media screen and (max-width: 680px) {
  .img {
    width: 25%;
    padding: 5px;
  }
}